/* This is the main css file */

* {
  font-family: "Plus Jakarta Sans", serif;
  padding: 0;
  margin: 0;
}

button {
  background: unset;
  border: unset;
  cursor: pointer;
}

a {
  color: unset;
  text-decoration: none;
}

main {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.vr {
  width: 1px;
  min-height: 25px;
  background-color: #fff;
}

.logo-container img.desktop {
  display: none;
  width: 240px;
}

.logo-container img.mobile {
  width: 40px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #000000;
}

nav.fixed {
  position: fixed;
  left: 0;
}

nav.transparent {
  background-color: unset;
}

nav .content {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

nav .navigation {
  display: none;
  align-items: center;
  margin-left: auto;
  column-gap: 20px;
  color: #d0d0d0;
}

.nav-links {
  list-style-type: none;
  column-gap: 25px;
  display: flex;
  font-size: 16px;
  font-weight: lighter;
}

.nav-links li:hover {
  color: white;
}

nav .navigation-mobile {
  margin-left: auto;
}

nav .navigation-mobile button {
  color: #fff;
}

.login-button {
  padding: 10px 20px;
  background-color: #ece2b1;
  border-radius: 4px;
  font-size: 14px;
  color: #000000;
  box-shadow: none;
  border: none;
}

@media screen and (min-width: 640px) {
  nav .navigation {
    display: flex;
  }

  nav .navigation-mobile {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .logo-container img.desktop {
    display: block;
  }

  .logo-container img.mobile {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  nav .content {
    padding: 10px 40px;
  }

  nav .navigation {
    column-gap: 30px;
  }

  nav .navigation .nav-links {
    column-gap: 35px;
  }
}

.nav-links li.active {
  color: white;
  font-weight: normal;
}

/* Mobile navbar */
.mobile-nav {
  position: absolute;
  background-color: #000000;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 15px;
  transition: transform 0.5s, opacity 0.5s;
  transform: translateX(300px);
}

.mobile-nav .close-btn {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 15px;
  color: #fff;
}

.mobile-nav.open {
  transform: translateX(0%);
}

.mobile-nav .nav-links {
  flex-direction: column;
  row-gap: 20px;
}

.mobile-nav li {
  color: #fff;
  padding: 10px 15px;
}

.mobile-nav .register-button {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #cbcbcb;
  font-size: 14px;
  text-align: center;
  color: #121212;
}


/* Footer */
.custom-footer {
  background-color: #6b5b32;
  color: white;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.custom-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.custom-footer-section.logo {
  flex: 2;
}

.custom-footer-section {
  flex: 1;
  min-width: 100px;
  margin: 10px;
}

.custom-footer-section .logo-container img {
  width: 200px;
  margin-bottom: 10px;
}

@media screen and (min-width: 640px) {
  .custom-footer-container {
    flex-direction: row;
    row-gap: unset;
  }

  .custom-footer-section .logo-container img {
    width: 250px;
  }

  .custom-footer-text {
    max-width: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .custom-footer-section {
    min-width: 200px;
  }

  .custom-footer-section .logo-container img {
    width: 350px;
  }
}

.custom-footer-icons {
  display: flex;
  column-gap: 10px;
  margin-top: 15px;
}

.custom-footer-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  padding: 5px;
  background-color: white;
}

.custom-footer-icons a img {
  width: 16px;
}

.custom-footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.custom-footer-section ul {
  list-style: none;
  padding: 0;
}

.custom-footer-section ul li {
  margin: 5px 0;
}

.custom-footer-section ul li a:hover {
  text-decoration: underline;
}

.custom-footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding-top: 40px;
  padding-bottom: 35px;
  padding-left: 30px;
  padding-right: 30px;
}

.custom-footer-links a {
  margin: 0 10px;
}

.custom-footer-links a:hover {
  text-decoration: underline;
}
