.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel {
  transform-style: preserve-3d;
}

.carousel-item {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  z-index: 100;
  transition: transform 0.8s, opacity 0.8s, z-index 0.8s;
}

.carousel-item.initial,
.carousel-item.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel-item.prev {
  transform: translateX(-100%);
}
.carousel-item.next {
  transform: translateX(100%);
}

.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001;
  border: 1px solid black;
}
.carousel__button--prev {
  left:0;
}
.carousel__button--next {
  right:0;
}
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.carousel-wrapper .pagination {
    display: flex;
}

.carousel-wrapper .pagination .slide {
    min-width: 8px;
    min-height: 8px;
    border-radius: 5px;
    background-color: #ffffffbb;
    translate: transform 0.5s ease;
}

.carousel-wrapper .pagination .slide.active {
    transform: scale(1.3);
    background-color: #FFF;
}
